@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.375rem;
    background-color: #fafafa;
  }
}

@layer components {
  .menu-link {
    @apply block px-4 py-4 hover:text-vert duration-200;
  }
  .link {
    @apply hover:bg-vert duration-200;
  }
}