@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.375rem;
    background-color: #fafafa;
  }
  main {
    padding: 30px;
  }
  h1, h2, h3 {
   font-weight: bold;
   color: #413b3b;
  }
}

@media (max-width: 640px) { 
  body {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  main {
    padding: 20px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) { 
  main {
    padding-inline: 100px;
  }
}

@layer components {
  .menu-link {
    @apply block px-4 py-4 hover:text-vert duration-200;
  }
  .link {
    @apply hover:text-vert duration-200;
  }
  .social-link {
    @apply text-xs max-sm:hidden sm:ml-5 hover:text-vert duration-200;
  }
  .grille {
    @apply lg:grid lg:grid-cols-principal lg:justify-center lg:gap-12 px-6;
  }
  .block-home {
    @apply flex items-center text-5xs md:text-4xs lg:text-sm max-w-[1180px] p-5 pl-14 sm:pl-16 md:pl-24 lg:pl-40 lg:p-10 rounded-[90px] bg-brunClair shadow-md;
  }
  .block-home--arrow {
    @apply max-sm:hidden h-[20px] w-[25px] ml-10 xl:ml-40 min-w-[10px] lg:min-w-[30px] lg:min-h-[30px];
  }
  .icon-home {
    @apply -mr-10 -mt-10 z-10 md:-mr-16 lg:-mr-28 lg:-mt-20 max-w-[85px] md:max-w-[120px] lg:max-w-[200px] ;
  }
  .parent-block-home {
    @apply flex md:px-10 justify-center mt-14 mb-10 lg:mt-32;
  }
  .underligne {
    @apply w-[14vh] h-1 bg-vertFonce rounded-xl;
  }
  .form-label--home {
    @apply sm:text-sm font-bold;
  }
  .form-champ {
    @apply bg-transparent border border-vertFonce rounded-full w-full py-2.5 px-6 leading-tight focus:outline-vert focus:scale-[1.01] mt-1;
  }
}
