@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.375rem;
    background-color: #fafafa;
  }
}

@media (max-width: 640px) { 
  body {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

@layer components {
  .menu-link {
    @apply block px-4 py-4 hover:text-vert duration-200;
  }
  .link {
    @apply hover:text-vert duration-200;
  }
  .social-link {
    @apply text-xs max-sm:hidden sm:ml-5 hover:text-vert duration-200;
  }
  .grille {
    @apply lg:grid lg:grid-cols-principal lg:justify-center lg:gap-12 px-6;
  }
  .block-home {
    @apply flex items-center text-5xs md:text-4xs lg:text-sm max-w-[1450px] p-5 pl-14 sm:pl-16 md:pl-24 lg:pl-40 lg:p-10 rounded-[90px] bg-brunClair shadow-md;
  }
  .block-home--arrow {
    @apply max-sm:hidden max-h-[40px] ml-10 lg:ml-40 min-w-[20px] md:min-w-[40px];
  }
  .icon-home {
    @apply -mr-10 -mt-10 z-10 md:-mr-16 lg:-mr-28 lg:-mt-20 max-w-[85px] md:max-w-[120px] lg:max-w-[200px];
  }
}
